anyio==4.13.0
autoflake==2.3.1
black==24.10.0
certifi==2026.2.25
cfgv==3.5.0
click==8.3.2
distlib==0.4.0
filelock==3.28.0
flake8==7.1.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.19
idna==3.11
isort==5.13.2
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.1
pathspec==1.0.4
platformdirs==4.9.6
pre_commit==4.0.1
pycodestyle==2.12.1
pyflakes==3.2.0
python-discovery==1.2.2
python-telegram-bot==22.7
PyYAML==6.0.3
typing_extensions==4.15.0
virtualenv==21.2.4
